// =============================================================================
// Breakpoints Mixin
//
// Example of use: @include breakpoint(xl).
// xl is a breakpoint defined in theme.variables.js.
// =============================================================================

@mixin breakpoint($value) {
  @if length($value) == 0 {
    @error "A breakpoint size must be passed to this function eg.(sm, md, lg)";
  }

  $query: map-get($mediaQueries, $value);

  @if $query == null {
    @content;
  }

  @else {
    @media #{$query} {
      @content;
    }
  }
}

// =============================================================================
// Custom Breakpoint Mixin
//
// Example of use: @include breakpoint-custom($min: 640px, $max: 767px).
// You can only include one parameter: @include custom-bp($max: 1000px).
// =============================================================================

@mixin breakpoint-custom( $min: 0, $max: 0 ) {
  $query: "all" !default;

  @if $min != 0 and $max != 0 {
    $query: "(min-width: #{$min}) and (max-width: #{$max})";
  }

  @else if $min != 0 and $max == 0 {
    $query: "(min-width: #{$min})";
  }

  @else if $min == 0 and $max != 0 {
    $query: "(max-width: #{$max})";
  }

  @media #{$query} {
    @content;
  }
}

// =============================================================================
// Define gap and gutter custom properties for each breakpoint.
// =============================================================================
:root {
  @each $prop, $value in $breakpoints {
    $headerHeight: map-get($headerHeights, $prop);
    $whitespace: map-get($whitespaces, $prop);
    $gutter: map-get($gutters, $prop);
    $gap: map-get($gaps, $prop);

    @include breakpoint($prop) {
      @if $headerHeight != null {
        --headerHeight: #{rem-calc($headerHeight)};
      }

      @if $whitespace != null {
        --whitespace: #{rem-calc($whitespace)};
      }

      @if $gutter != null {
        --gutter: #{rem-calc($gutter)};
      }

      @if $gap != null {
        --gap: #{rem-calc($gap)};
      }
    }
  }
}
