// =============================================================================
// Column
// =============================================================================

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

.flex-column {
  @include flex-column();
}

@mixin flex-column-reverse() {
  display: flex;
  flex-direction: column-reverse;
}

.flex-column-reverse {
  @include flex-column-reverse();
}
