// =============================================================================
// Row
// =============================================================================

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

.flex-row {
  @include flex-row();
}

@mixin flex-row-reverse() {
  display: flex;
  flex-direction: row-reverse;
}

.flex-row-reverse {
  @include flex-row-reverse();
}
